<form action="db/register" method="POST" class="registerForm">
    <div class="formDiv">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="username..." autocomplete="off">
    </div>
    <div class="formDiv">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" placeholder="password..." autocomplete="off">
    </div>
    <div class="formDiv">
        <label for="topic">Interest:</label>
        <select name="topic" id="topic">
            <option value="politics">Politics</option>
            <option value="sport">Sports</option>
            <option value="Technology">Technology</option>
        </select>
        <small class="text-muted">You wont be limited to this! :)</small>
    </div>
    <button class="registerBtn">Sign Up</button>
    </form>
