<div class='toggleRow'>
    <div class="optionCard">
        <h1 class='h1option registerswitch'>Sign Up</h1>
    </div>
    <div class="optionCard">
        <h1 class='h1option loginswitch'>Login</h1>
    </div>
</div>