<div class='article-div'>
    <div class='imageColumn'>
            <h3>PH</h3>
    </div>
    <div class="titleColumn">
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum vitae officiis ratione praesentium. Adipisci atque minima illum dolore porro iste!</h4>
        <p>post here n there</p>
    </div>
</div>